<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089">
            <section name="IECMate.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false"/>
        </sectionGroup>
    </configSections>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1"/>
    </startup>
    <userSettings>
        <IECMate.Properties.Settings>
            <setting name="theme" serializeAs="String">
                <value>BaseLight</value>
            </setting>
            <setting name="leerzeichen" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="zeilennummern" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="schriftgrosse" serializeAs="String">
                <value>13</value>
            </setting>
            <setting name="fentser_top" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fenster_left" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="fenster_hohe" serializeAs="String">
                <value>900</value>
            </setting>
            <setting name="fenster_breite" serializeAs="String">
                <value>1200</value>
            </setting>
            <setting name="fenster_max" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="projekt_pfad_suche" serializeAs="String">
                <value />
            </setting>
            <setting name="such_begriff" serializeAs="String">
                <value />
            </setting>
            <setting name="tabcontrol_index" serializeAs="String">
                <value>0</value>
            </setting>
            <setting name="projekt_pfad_helfer" serializeAs="String">
                <value />
            </setting>
            <setting name="akzentfarbe" serializeAs="String">
                <value>Steel</value>
            </setting>
            <setting name="variable_1" serializeAs="String">
                <value />
            </setting>
            <setting name="variable_2" serializeAs="String">
                <value />
            </setting>
            <setting name="variable_3" serializeAs="String">
                <value />
            </setting>
            <setting name="vorlage" serializeAs="String">
                <value />
            </setting>
            <setting name="pxnummer" serializeAs="String">
                <value />
            </setting>
            <setting name="hotkey" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="hotkey_plain" serializeAs="String">
                <value>A</value>
            </setting>
            <setting name="hotkey_comment" serializeAs="String">
                <value>Y</value>
            </setting>
            <setting name="hotkey_beginend" serializeAs="String">
                <value>X</value>
            </setting>
            <setting name="sprache" serializeAs="String">
                <value>de-DE</value>
            </setting>
            <setting name="hotkey_brackets" serializeAs="String">
                <value>Q</value>
            </setting>
            <setting name="showtab" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="showendofline" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="converttabtospace" serializeAs="String">
                <value>False</value>
            </setting>
            <setting name="updatesettings" serializeAs="String">
                <value>True</value>
            </setting>
            <setting name="me_auswahl" serializeAs="String">
                <value />
            </setting>
        </IECMate.Properties.Settings>
    </userSettings>
</configuration>
